<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Articles index</h1>
<% articlesList.forEach(function(article) { %>
<div>
  <a href="/articles/<%= article.id %>"><%= article.title %></a>
  <a href="/articles/<%= article.id %>/edit">edit article</a>
  <form method="POST" action="/articles/<%= article.id %>?_method=DELETE">
  	<button>End it all</button>
  </form>
  <div>
    <%= article.content %>
  </div>
</div>
<% }) %>
<p></p>
<a href="/articles/new">new article</a>
</body>
</html>

